@use '../breakpoints/_breakpoints' as *;
@use '../functions/_space' as *;
@use '../functions/_px2rem' as *;

@mixin container {
  width: 100%;
  padding-inline: space(20);

  @include breakpoint('large') {
    padding-inline: space(48);
  }

  @include breakpoint('xlarge') {
    max-width: px2rem(1512);
    margin: 0 auto;
  }
}
