@use '../functions/color' as *;
@use '../functions/space' as *;

@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.visually-hidden,
.sr-only {
  @include visually-hidden;
}

// These are abstracted from the general use `focus` mixin below to support
// use-cases like `focus-within` that apply to an "outer" element when something
// "inside" has focus. e.g. The utility nav search box.
@mixin focus-styles {
  outline: space(1) dotted clr(grey) !important;
  outline-offset: space(1);
}

@mixin focus {
  &:focus-visible {
    @include focus-styles;
  }

  // Remove browser focus indicator from browsers that support `:focus-visible`
  // This allows older browsers (e.g. Safari) to show default styles, while
  // modern browsers use our focus designs.
  &:focus:not(:focus-visible) {
    outline: none;
  }
}

body[data-body-frozen],
body[data-offcanvas-active='true'],
body[data-gallery-active='true'] {
  overflow: hidden;
  max-height: 100vh;
}

// Prevent all instances of double returns
p + br {
  display: none;
}

// Add a halftone pattern to the background of an element
// @param $position: top or bottom
// @example
//   .element {
//     @include bg-dots-pattern(top);
//   }
@mixin bg-dots-pattern($position: top, $size: large) {
  @if $size == large {
    &::before,
    &::after {
      background: transparent url('/themes/custom/bcj/assets/images/BrennanCenter_websiteRedesign_halftone_main.png') no-repeat;
    }
  } @else if $size == small {
    &::before,
    &::after {
      background: transparent url('/themes/custom/bcj/assets/images/BrennanCenter_websiteRedesign_halftone_main_right.png') no-repeat;
    }
  }

  &::before,
  &::after {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 900px auto;
    background-position: top left;
    top: 0;
    left: 0;
    opacity: .2;
  }

  @if $position == top {
    &::before {
      content: "";
    }
  } @else if $position == bottom {
    &::after {
      content: "";
      transform: rotate(180deg);
    }
  }
}
