<header class="sb-header">
  <h2 class="sb-header__title">Breakpoints</h2>
  <p class="sb-header__subtitle">See the responsive breakpoints and their SCSS variables.</p>
</header>

<div class="sb-content">
  <table class="sb-table">
    <thead>
      <tr>
        <th scope="col">Breakpoint</th>
        <th scope="col">SCSS Variable</th>
        <th scope="col">Media Query</th>
      </tr>
    </thead>
    <tbody>
      {% for breakpoint in breakpoints %}
        <tr role="button" class="js-copy-trigger" title="Click to copy" data-usage="{{ breakpoint.usage }}">
          <th>{{ breakpoint.name }}</th>
          <td><code>{{ breakpoint.variable }}</code></td>
          <td><code>{{ breakpoint.value }}</code></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
