<header class="sb-header">
  <h2 class="sb-header__title">Breakpoints</h2>
  <p class="sb-header__subtitle">See the responsive breakpoints and their SCSS variables.</p>
</header>

<div class="sb-content">
  <table class="sb-table">
    <tr>
      <th>Breakpoint</th>
      <th>SCSS Variable</th>
      <th>Media Query</th>
    </tr>
    {% for breakpoint in breakpoints %}
      <tr role="button" class="js-copy-trigger" title="Click to copy" data-usage="{{ breakpoint.usage }}">
        <th>{{ breakpoint.name }}</th>
        <td><code>{{ breakpoint.variable }}</code></td>
        <td><code>{{ breakpoint.value }}</code></td>
      </tr>
    {% endfor %}
  </table>
</div>
