$color-palette: (
  default: (
    white: (
      base: #fff,
    ),
    black: (
      base: #000,
    ),
    red: (
      base: #e7131a,
      25: #de1219,
      100: #9e0b0f,
    ),
    grey: (
      base: #f7f5f3,
      20: #f7f5f3,
      40: #eeecea,
      60: #b0b0b0,
      80: #86807c,
      100: #504c49,
    ),
    blue: (
      base: #006dac,
      25: #006dac,
      60: #005daa,
      100: #003a63,
      electric: #2943fb,
    ),
    yellow: (
      base: #ffca42,
    ),
  ),
);
