@use 'functions/color' as *;
@use 'functions/space' as *;

// Reset Styles

/* Box sizing rules */
html {
  box-sizing: border-box;
}

/* Set core body defaults */
body {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  max-width: 100vw;
  margin: 0;
  background-color: clr(white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Styles for environment indicator.
#environment-indicator {
  @media (min-width: 1024px) {
    transform: translateY(54px);
  }
}

// Prevent the sticky header from overlapping the Drupal admin toolbar.
.gin--navigation-top-bar {
  @media (min-width: 1024px) {
    width: calc(100% - 4rem);
    margin-left: 4rem;
    z-index: 99999;
  }
}

.admin-toolbar {
  z-index: 999999;
}
